@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    background-color: v.$primario;

    .footer-contenido {
        padding: 5rem;

        @include m.tablet { 
            @include m.grid(3, 2rem)
                
             
         }
    
   
    }

}

.footer-box {
    text-align: center;
    font-family: v.$fuente_cursiva;
    margin-bottom: v.$separacion;
    @include m.tablet { 
        margin-bottom: 0;
     }

    h3 {
        font-family: v.$fuente_cursiva;
        margin: 0 0 1rem 0;
        font-size: 2.4rem;
        color: v.$secundario;
    }
    p, a {
        font-size: 2rem;
        margin: 0;
    }
}

.copyright {
    text-align: center;
    color: v.$blanco;
    margin: 0;
    padding: 2rem;
}